# More Data Preprocessing (with Pandas)

Pandas is a very useful data analytics package within Python.

Let's start with some random data.

In [ ]:
import pandas as pd
import numpy as np

NumPy Random Randn function Syntax can be found through [numpy.org](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randn.html)

Parameters are d0, d1.... dn
* The dimensions of the returned array need to be specified.
* The method returns an array filled with random floats sampled from "normal" or **Gaussian** distribution of mean of zero and  variance of one.  Tied to the data preprocessing lecture, normal distrubtion bell curve is also known as the central limit therom. 
* The dimensions need to be non-negtive and integers.  If no argument is specified it returns a single Python float.

In [ ]:
# Array specified as five rows and three columns and converted to a Pandas dataframe 
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])
df

        one       two     three
a  1.915959 -2.055404  1.721571
c  2.009634  0.828034 -0.373612
e  1.601012 -0.090546  0.061058
f -0.787554 -0.035404  0.166414
h -1.701857  0.243683  0.084690

We know with Pandas we can mix & match data types, so let us add two more columns, named 'four' and 'five':

In [ ]:
df['four'] = 'bar'
df['five'] = df['one'] > 0
df

        one       two     three four   five
a  1.915959 -2.055404  1.721571  bar   True
c  2.009634  0.828034 -0.373612  bar   True
e  1.601012 -0.090546  0.061058  bar   True
f -0.787554 -0.035404  0.166414  bar  False
h -1.701857  0.243683  0.084690  bar  False

Adding new rows is also simple. Below we include three extra empty rows:

In [ ]:
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']) # NAN values as a result of reindexing, no values exist for the newly created indexes in between
df2

        one       two     three four   five
a  1.915959 -2.055404  1.721571  bar   True
b       NaN       NaN       NaN  NaN    NaN
c  2.009634  0.828034 -0.373612  bar   True
d       NaN       NaN       NaN  NaN    NaN
e  1.601012 -0.090546  0.061058  bar   True
f -0.787554 -0.035404  0.166414  bar  False
g       NaN       NaN       NaN  NaN    NaN
h -1.701857  0.243683  0.084690  bar  False

# Your Turn Here

Do you still remember how to index a row/column?

In [ ]:
#### index row 'c' below
df2.loc["c"] # loc is a slicing method that is based on row/column index labels

one      2.009634
two      0.828034
three   -0.373612
four          bar
five         True
Name: c, dtype: object

In [ ]:
### Alternative practicing using iloc to retrieve row 'c'
df2.iloc[2] # iloc is a slicing method that is based on row/column index position

one      2.009634
two      0.828034
three   -0.373612
four          bar
five         True
Name: c, dtype: object

In [ ]:
#### index column 'two' below
df2.loc[:, "two"] # : specifies all rows left of , after , specifies column label

a   -2.055404
b         NaN
c    0.828034
d         NaN
e   -0.090546
f   -0.035404
g         NaN
h    0.243683
Name: two, dtype: float64

In [ ]:
### Alternative of index column 'two' using iloc
df.iloc[:, 1] # remember, indexing in Python always starts at zero

a   -2.055404
c    0.828034
e   -0.090546
f   -0.035404
h    0.243683
Name: two, dtype: float64

pandas has two functions isnull() and notnull() that return boolean objects when called.

In [ ]:
pd.isnull(df2['one']) # returns bools of values based on 'missingness'

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
pd.notnull(df2['one']) # returns bools of values based on non-missingness

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

Missing values propagate naturally through arithmetic operations between pandas objects.

In [ ]:
# to see the dataframe df again
df

        one       two     three four   five
a  1.915959 -2.055404  1.721571  bar   True
c  2.009634  0.828034 -0.373612  bar   True
e  1.601012 -0.090546  0.061058  bar   True
f -0.787554 -0.035404  0.166414  bar  False
h -1.701857  0.243683  0.084690  bar  False

In [ ]:
a = df[['one','two']] # abstracting columns specified by paren within paren
a['one']['a':'e'] = float('nan') # assign missing values in column 'one' index row labels 'a' up to 'e'
a

/usr/local/lib/python3.8/dist-packages/pandas/core/series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)
<ipython-input-12-c64f4edf2d33>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['one']['a':'e'] = float('nan') # assign missing values in column 'one' index row labels 'a' up to 'e'

        one       two
a       NaN -2.055404
c       NaN  0.828034
e       NaN -0.090546
f -0.787554 -0.035404
h -1.701857  0.243683

In [ ]:
b = df[['one','two','three']]
b

        one       two     three
a  1.915959 -2.055404  1.721571
c  2.009634  0.828034 -0.373612
e  1.601012 -0.090546  0.061058
f -0.787554 -0.035404  0.166414
h -1.701857  0.243683  0.084690

In [ ]:
a + b  # anything added to NaN returns NaN, column 'three' returns all NaN b/c
       # there is no shared column 'three' in both DFs 'a' & 'b' therefore NaN values
       # this is an example of 'broadcasting'

        one  three       two
a       NaN    NaN -4.110808
c       NaN    NaN  1.656069
e       NaN    NaN -0.181092
f -1.575108    NaN -0.070809
h -3.403713    NaN  0.487365

# How to deal with Missing Values

## Deleting Missing Values

The simplest method is always dropping all missing values - but it is highly **discouraged!!!**

In [ ]:
# Practice finding the % missing of a df columns
# ebola_df.isna().mean().round(4) * 100 example from Python Week 10 BA505 lecture
a.isna().mean().round(4) * 100  # column 'one' of df 'a' is 60% missing

one    60.0
two     0.0
dtype: float64

In [ ]:
a['one'].dropna() # only drop a value if 90% or more of the columns values are missing, Data Preparation
                  # Preprocessing Lecture week three DATA6545
                  # only row index labels 'f' and 'h' remain that contained no missing values

f   -0.787554
h   -1.701857
Name: one, dtype: float64

By default, dropna() will drop any row containing **NaN** values, but you can change that by using the *axis=* and *thresh=* arguments.

**NOTE**: Dropping rows or columns have different uses.

In [ ]:
#### This statement drop any column with NaN values
a.dropna(axis=1)

        two
a -2.055404
c  0.828034
e -0.090546
f -0.035404
h  0.243683

In [ ]:
#### thresh determines how many non-NaN values a column/row should have without being dropped
c = a + b
c.dropna(axis=1, thresh=2)

        one       two
a       NaN -4.110808
c       NaN  1.656069
e       NaN -0.181092
f -1.575108 -0.070809
h -3.403713  0.487365

You can also use the *how=* argument to determine how do you want to remove the NaN values.

In [ ]:
#### By default, dropna() drops column/row with any NaN values
#### how = 'all' changes that to dropping column/row with all NaN values
c.dropna(axis=1, how='all')

        one       two
a       NaN -4.110808
c       NaN  1.656069
e       NaN -0.181092
f -1.575108 -0.070809
h -3.403713  0.487365

You can refer to the [pandas.dropna() docs](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html) for more information.

## Imputing Missing Values

Imputing means filling missing values - you can do that when the missing and non-missing values are in some type of relationship.

In [ ]:
my_series = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
my_series

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [ ]:
#### you can fill missing values with a specific value (0)
my_series.fillna(0) # also known as filling in with a global constant

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

Alternatively, we can specify a forward-fill to propagate the previous value forward:

In [ ]:
# forward-fill
# fills the NaN with the previous value index
my_series.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

Or we can specify a back-fill to propagate the next values backward:

In [ ]:
# fills the NaN with the preceeding value index
my_series.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

## Your Turn Here
Aforementioned method can be applied to dataframes.

Pandas mask method can be found here [pandas.pydata.org](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mask.html)

A condition is specified as a argument. Replace values where the condition is True.

Numpy random.random method can be found here [numpy.org](https://numpy.org/doc/stable/reference/random/generated/numpy.random.random.html)

Returns random floats in the interval of 0.0 to 1.0.

In [ ]:
#### Let us generate a random dataframe
rand_df = pd.DataFrame(np.random.randn(5, 3), 
                  index=['a', 'b', 'c', 'd', 'e'],
                  columns=['one', 'two', 'three'])
rand_df = rand_df.mask(np.random.random(rand_df.shape) < .3)
rand_df

        one       two     three
a  0.005129  1.123906       NaN
b       NaN       NaN       NaN
c  0.446358  0.281870  0.701055
d  1.479534  1.778541 -0.939501
e -1.896125       NaN  1.180193

Your tasks are as follows:

- fill missing values in column **one** with value 1;
- fill missing values in column **two** with forward-filling;
- fill missing values in column **three** with backward-filling.

In [ ]:
#### fill missing values in column **one** with value 1;
rand_df["one"].fillna(1)

a    0.005129
b    1.000000
c    0.446358
d    1.479534
e   -1.896125
Name: one, dtype: float64

In [ ]:
### fill missing values in column **two** with forward-filling;
rand_df["two"].fillna(method="ffill")

a    1.123906
b    1.123906
c    0.281870
d    1.778541
e    1.778541
Name: two, dtype: float64

In [ ]:
### fill missing values in column **three** with backward-filling.
rand_df["three"].fillna(method="bfill")

a    0.701055
b    0.701055
c    0.701055
d   -0.939501
e    1.180193
Name: three, dtype: float64

A useful approach for imputing your missing data is to use mean/mode to replace missing data - the reason behind this logic is that if we are going to *guess* the values of the missing data, the highest chance would be guessing it to be the mean/mode if the data follows **normal** distribution.

In [ ]:
#### let us generate another DF
my_df = pd.DataFrame(np.random.randn(5, 3), 
                  index=['a', 'b', 'c', 'd', 'e'],
                  columns=['A', 'B', 'C'])
my_df = my_df.mask(np.random.random(my_df.shape) < .3)
my_df

          A         B         C
a  0.065611  0.726083 -0.216848
b  0.561697 -1.069781  1.600267
c  0.453975       NaN  0.197302
d -1.145112       NaN  1.136279
e       NaN       NaN  1.011052

In [ ]:
#### Let us check if there is any missing value in the df
my_df.isnull().values.any()

True

In [ ]:
#### Then we are getting the mean of the DF
#### Note that since we only 
my_df.mean()

A   -0.015957
B   -0.171849
C    0.745611
dtype: float64

In [ ]:
df_filled = my_df.fillna(my_df.mean())
df_filled

          A         B         C
a  0.065611  0.726083 -0.216848
b  0.561697 -1.069781  1.600267
c  0.453975 -0.171849  0.197302
d -1.145112 -0.171849  1.136279
e -0.015957 -0.171849  1.011052

In [ ]:
#### Now let us check again if there is any missing values
df_filled.isnull().values.any()

False

More info regarding how to handle missing data can be found [here](https://machinelearningmastery.com/handle-missing-data-python/).

# Other Tasks about Preprocessing



*   Handling categorical data (coding)
*   Handling imbalanced data
*   feature engineering


These topics will be covered in later part of this class.